<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <!--  해제하면 오류 발생  -->
<!--    <li><span th:text="hello world"></span></li>-->
    <li>'hello' + ' world!' <span th:text="'hello' + ' world!'"></span></li>
    <li>'hello world!' <span th:text="'hello world!'"></span></li>
    <li>'hello' + ${data} <span th:text="'hello' + ${data}"></span></li>
    <li>|hello ${data}| <span th:text="|hello ${data}|"></span></li>
</ul>

</body>
</html>